.link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: rgb(8, 8, 10);
  white-space: nowrap;
  cursor: pointer;
}
.link:hover {
  color: #0052cc;
  border-bottom: 2px solid #06286e;
}

.logo-link {
  width: 191px;
  height: 39px;
  position: absolute;
  top: 32px;
  left: 104px;
  gap: 0px;
  opacity: 0px;
}
.handle-left-side-navbar .ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 525px;
  height: 48px;
  position: absolute;
  top: 27px;
  left: 812px;
  gap: 40px;
  opacity: 0px;
}
.handle-left-side-navbar li {
  height: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  padding: 3px 3px;
  flex-wrap: wrap;
  border: none;
  outline: none;
}

/* @media screen and (max-width: 768px) {
  .container-hold-navbar {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  .container-hold-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
  }
} */
