.container-hold-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.container-hold-navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 5px; */
  width: Hug (525px);
  height: Hug (48px);
  top: 27px;
  left: 812px;
  gap: 30px;
}

.container-hold-navbar ul li {
  /* margin: 5px; */
  height: 50%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  /* padding: 8px 8px; */
  flex-wrap: wrap;
  border: none;
  outline: none;
}

.container-hold-navbar ul li:hover {
  height: 100%;
  cursor: pointer;
  background-color: rgb(245, 245, 250);
}

.container-hold-navbar .link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: rgb(8, 8, 10);
  white-space: nowrap;
  cursor: pointer;
}
.link:hover {
  color: #0052cc;
}
.handle-left-side-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .container-hold-navbar {
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
  }
  .container-hold-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
  }
}
