.company-details {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0px;
  position: absolute;
  top: 965px;
}
.left-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 80px;
}

.right-logo {
  width: 299px;
  height: 60px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  left: 1039px;
}
/* .title {
  padding-left: 20px;
} */
.company-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  width: 70px;
  border-radius: 50%;
  box-shadow: rgba(22, 47, 147, 0.35) 0px 5px 15px;
}

.para {
  font-weight: 500;
  font-size: 25px;
  background: -webkit-linear-gradient(#06286e 0%, #164ec0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
