body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  height: 400px;
  width: 600px;
  /* border: 2px solid red; */
  border-width: 2px;
  border-style: solid;
  border-color: aquamarine;
}
.container:hover {
  background-color: aquamarine;
  border-color: blue;
}

.container:hover .child1,
.container:hover .child2,
.child2,
.container:hover {
  background-color: red;
}

.container > .child1 {
  height: 150px;
  width: 500px;
  border: 2px solid black;
  background-color: blueviolet;
}
div > .child2 {
  width: 500px;
  height: 150px;
  border: 2px solid red;
}

.container .child2 {
  background-color: blue;
}
